   {% load static %}
   <!-- navbar -->
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/" title="Swyombhu International College">
        <img src="{% static 'images/logosic.jpg' %}" class="d-inline-block align-text-center" alt="Logo" height="70" width="70">
        <span class="fs-4">SIC</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/notices">Notices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <button class="btn btn-sm btn-warning text-white d-flex align-items-center gap-2">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-graduation-cap"><path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"/><path d="M22 10v6"/><path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"/></svg>
                Moodle
              </button>
            
            </a>
          </li>
         
        
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lms/courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-us">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button class="btn btn-sm btn-primary d-flex align-items-center gap-2">
                
              
                Apply Now
              </button>
            </a>
          </li>
          
         
        </ul>
       
      </div>
    </div>
  </nav>